<tr class="list-group  " >
    <td 
    routerLink=""
    (click)="clearCurrentBrand()"
    class="list-group-item black" 
    aria-current="true">
    Brands
    </td>
    <td *ngFor="let brand of brands" class="list-group-item  bg-black" >
        <div class="button button1 " routerLink="/brandoperations/{{brand.brandId}}" >edit</div>
        <div 
        routerLink="/cars/brand/{{brand.brandId}}"
        (click)="setCurrentBrand(brand)"
        [class]="getCurrentBrandClass(brand) " 
        aria-current="true">
        {{ brand.brandName }}
        </div>
    </td>
    

</tr>

