<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Rent A Car</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse " id="navbarsExample05">
    <div class="navbar-nav me-auto mb-2 mb-lg-0">
     
    </div>
    <form for="filterText" class="form-inline my-2 my-md-0">
      <input class="form-control"   [(ngModel)]="filterText"  name="filterText"  id="filterText" type="text" placeholder="Search">
      
    </form>
    <button class="button button1" routerLink="/cars/{{filterText}}">Ara</button>
    <button class="button button1" routerLink="/brandoperations">Brand Ekle</button>
    <button class="button button1" routerLink="/coloroperations">Color Ekle</button>
    <button class="button button1" routerLink="/caroperations">Car Ekle</button>
    <button class="button button1 ">Giriş yap</button>
  </div>
</nav>