<tr class="list-group" >
  <td 
  routerLink=""
  (click)="clearCurrentColor()"
  class="list-group-item black" 
  aria-current="true">
  Colors
  </td>
  <td *ngFor="let color of colors" class="list-group-item  bg-black" >
      <div class="button button1 " routerLink="/coloroperations/{{color.colorId}}" >edit</div>
      <div 
      routerLink="/cars/color/{{color.colorId}}"
      (click)="setCurrentColor(color)"
      [class]="getCurrentColorClass(color) " 
      aria-current="true">
      {{ color.colorName }}
      </div>
  </td>
  

</tr>
