<div id="carouselExampleControls " class="carousel slide " data-bs-ride="carousel">
  <div class="carousel-inner ">
    <div class="carousel-item " *ngFor="let carimage of carImages; index as imgInd;" [ngClass]="{'active':imgInd==0}">
      <img *ngIf="carimage.imagePath != null" src="{{imageBasePath}}{{carimage.imagePath}}" class=" d-block w-100  " style="width:100%;height:100%;" alt="...">
    </div>

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div>
  <ul *ngFor="let cardetail of carDetail" class="list-group list-group-flush cardetail">
    <li><h4>{{cardetail.carName}}</h4></li>
    <li class="list-group-item">Marka: {{ cardetail.brandName}}</li>
    <li class="list-group-item">Renk: {{ cardetail.colorName }}</li>
    <li class="list-group-item">Günlük Ücreti: {{ cardetail.dailyPrice }}</li>
    <li class="list-group-item">Yılı : {{ car.modelYear}}</li>
    <li class="list-group-item">Açıklaması : {{ car.description}}</li>
  </ul>
</div>
