<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-success"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>
<div *ngIf="dataLoaded == true">
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div
      class="row g-0 carcard"
      *ngFor="let car of carDetails | carFilter:filterText  | filterCarWithBrandAndColor:filterBrand:filterColor"
      routerLink="/cars/carDetails/{{ car.carId }}"
    >
   
      <div class="col-md-4">
        <img
          class="carImage d-block w-100"
          src="{{ imageBasePath }}{{getCarImage(car)}}"
          alt="Resim bulunamadı"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ car.carName }}</h5>

          <p class="card-text">Markası: {{ car.brandName }}</p>
          <p class="card-text">Rengi: {{ car.colorName }}</p>
          <p class="card-text">Günlük Ücreti: {{ car.dailyPrice }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
