<div *ngIf= "dataLoaded==false" class="spinner-border text-success" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<table class="table" *ngIf= "dataLoaded==true">
    <thead>
    <tr>
      <th>*</th>
      <th>Car Name</th>
      <th>BrandName</th>
      <th>ColorName</th>
      <th>Daily Price</th>
    </tr>
  </thead>
  <tbody>
    <tr
    *ngFor="let car of carDetails">
      <td>{{ car.carId }}</td>
      <td>{{ car.carName }}</td>
      <td>{{ car.brandName }}</td>
      <td>{{ car.colorName }}</td>
      <td>{{ car.dailyPrice }}</td>
      <button routerLink="/cars/carDetails/{{car.carId}}">Detay</button>
    </tr>
  </tbody>
</table>
